@page
@model DescarteSustentavel.Pages.SolicitacoesDescarteColeta.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SolicitacaoDescarteColeta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SolicitacaoDescarteColeta.IDDescartador" class="control-label"></label>
                <input asp-for="SolicitacaoDescarteColeta.IDDescartador" class="form-control" />
                <span asp-validation-for="SolicitacaoDescarteColeta.IDDescartador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolicitacaoDescarteColeta.IDEcoponto" class="control-label"></label>
                <input asp-for="SolicitacaoDescarteColeta.IDEcoponto" class="form-control" />
                <span asp-validation-for="SolicitacaoDescarteColeta.IDEcoponto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolicitacaoDescarteColeta.TipoDoMaterial" class="control-label"></label>
                <input asp-for="SolicitacaoDescarteColeta.TipoDoMaterial" class="form-control" />
                <span asp-validation-for="SolicitacaoDescarteColeta.TipoDoMaterial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolicitacaoDescarteColeta.DataDaSolicitacao" class="control-label"></label>
                <input asp-for="SolicitacaoDescarteColeta.DataDaSolicitacao" class="form-control" />
                <span asp-validation-for="SolicitacaoDescarteColeta.DataDaSolicitacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolicitacaoDescarteColeta.QtdeDeItens" class="control-label"></label>
                <input asp-for="SolicitacaoDescarteColeta.QtdeDeItens" class="form-control" />
                <span asp-validation-for="SolicitacaoDescarteColeta.QtdeDeItens" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolicitacaoDescarteColeta.DataDeEncerramento" class="control-label"></label>
                <input asp-for="SolicitacaoDescarteColeta.DataDeEncerramento" class="form-control" />
                <span asp-validation-for="SolicitacaoDescarteColeta.DataDeEncerramento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="flex-container">

    <div class="titulo_cadastrar_solicitacao">
        <img src="cadastrarsolicitacao_icon.svg" width="70vw" height="70vh" alt="">
        <h1 id="titulo">Cadastrar Nova Solicitação</h1>
    </div>

    <div id="formulario_geral">
        <form action="" id="corpo_formulario_cadastro_solicitacao" class="col-12 row g-4 needs-validation">

            <div id="sessao_informacoes_gerais">
                <h5 class="col-12">Informações Gerais</h5>
                <br />
                <div class="campo col-md-4 form-group">
                    <label class="form-label control-label">Numero da Solicitação</label>
                    <input type="text" name="nome" id="numeroSolicitacao" class="form-control" placeholder="001" disabled
                           required onkeypress="return onlynumber()">
                </div>

                <div class="col-md-8">
                    <label class="form-label">Descartador</label>
                    <input type="text" name="descartador" id="descartador" class="form-control"
                           placeholder="300.300.300-30 - GABRIEL VIANA" disabled required>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Tipo de Material</label>
                    <select id="tipo_material" class="form-select dropdown" required>
                        <option id="tipo_item_1" selected disabled value="">Selecione</option>
                        <option id="tipo_item_1">Descartável</option>
                        <option id="tipo_item_1">Eletrônico</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label class="form-label">Qtd de Itens</label>
                    <input type="number" min="1" max="8" id="qtd_itens" class="form-control" value="0" disabled required>
                </div>
            </div>



            <div id="sessao_adicionar_itens">
                <h5 class="col-12">Adicionar Itens</h5>

                <form action="" id="formulario_adicionar_itens" name="formulario_adicionar_itens">
                    <div class="col-md-3">
                        <label class="form-label">Tipo de item</label>
                        <select id="tipo_item" class="form-select" required>
                            <option id="" selected disabled value="">Selecione</option>
                            <option id="tipo_item_1">Plastico</option>
                            <option id="tipo_item_2">Metal</option>
                            <option id="tipo_item_3">Vidro</option>
                            <option id="tipo_item_4">Papelão</option>
                            <option id="tipo_item_5">Organicos</option>
                            <option id="tipo_item_6">Hospitalar</option>
                        </select>
                    </div>

                    <div class="col-md-7">
                        <label class="form-label">Descrição do Item</label>
                        <input type="text" name="" id="item_descricao" class="form-control" required>
                        <i class="bi bi-plus-square"></i>
                    </div>

                    <div class="col-md-1" id="button_adicionar_item">
                        <button type="button" class="btn" style="background-color: #00a4ff; margin-top: 35px; height: 50px; width: 50px;" ;">
                            <img src="/plus_icon.svg" alt="plus_icon">
                        </button>
                    </div>
                </form>
            </div>

            <br>

            <table class="table table-striped" id="tabela_itens">
                <thead>
                    <tr>
                        <th scope="col">Nº Item</th>
                        <th scope="col">Tipo</th>
                        <th scope="col">Descrição</th>
                    </tr>
                </thead>
                <tbody id="tabela_itens_body">
                </tbody>
            </table>

            <br>

            <div id="sessao_informacoes_entrega">
                <h5>Informações de Entrega</h5>


                <div class="col-md-9">
                    <label class="form-label">Ecoponto de Destino</label>
                    <div style="display: flex; align-items: center;">
                        <input type="text" id="destino" class="form-control" required>
                        <a type="button" class="btn btn-primary col-md-3" style="margin: 0 0 0 25px; display: flex; align-items: center; color: white; font-family: 'Rubik', sans-serif; font-size: 1.1em; font-weight: normal; background-color: #00A4FF; border-radius: 8px; border: none; display: flex; flex-wrap: nowrap; align-content: center; justify-content: center;">
                            <p style="margin-bottom: 0; color: white">Buscar Ecoponto</p>
                            <img src="lupa.svg" alt="" style="margin: 0 15px; padding: 0;">
                        </a>

                    </div>
                </div>
                <!-- <button href="" class="btn btn-primary col-md-3" height="70px">Buscar Ecopontos
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-search"
                viewBox="0 0 16 16">
                <path
                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
        </button> -->

                <div class="col-md-4" id="teste">
                    <label class="form-label">Tipo de Solicitação</label>
                    <select id="tipo_material" class="form-select dropdown" required>
                        <option id="tipo_item_1" selected disabled value="">Selecione</option>
                        <option id="tipo_item_1">Descarte</option>
                        <option id="tipo_item_1">Coleta</option>
                    </select>
                </div>

                <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker col-md-3" inline="true">
                    <label for="example" class="form-label">Agende seu Descarte</label>
                    <input placeholder="Select date" type="date" id="example" class="form-control">
                    <i class="fas fa-calendar input-prefix"></i>
                </div>
            </div>

        </form>
    </div>

    <div id="container_buttons">
        <input class="botao_limpar" type="reset" value="Limpar" form="corpo_formulario_cadastro_solicitacao">
        <input class="botao_enviar" type="submit" value="Enviar" form="corpo_formulario_cadastro_solicitacao">
    </div>

</div>

<style>
   @*@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');*@

form {
    display: flex;
}

.flex-container {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    margin-top: 0;
}

.titulo_cadastrar_solicitacao {
    display: inline-flex;
    justify-items: left;
    align-items: center;
}

.titulo_cadastrar_solicitacao>img {
    padding-right: 25px;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-style: medium;
    font-size: 30px;
    color: #393939;
    padding: 50px 0 50px 0;
}
 h5{
    font-size: 25px;
    margin-top: 10px;
 }

#sessao_informacoes_gerais, #sessao_adicionar_itens, #sessao_informacoes_entrega{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#formulario_geral{
    width: 100%;
    border: solid #d8d8d8 2px;
    border-radius: 6px;
    margin-top: auto;
    margin-left: 0;
    padding: 30px;
    padding-top: 10px;
}

.form-label, p {
    font-family: 'Rubik', sans-serif;
    font-style: medium;
    font-size: 18px;
    color: #333333;
}

#container_buttons{
    font-size: 20px;
    margin-left: auto;
    margin-top: 1em;
}

.botao_limpar{
    padding: 3px 100px;
    border: 1px solid #005AFF;
    border-radius: 8px;
    color: aqua;
    cursor: pointer;
}

    input[type="submit"]:hover {
        background-color: white;
        color: aqua;
        border: 1px solid #005AFF;
        transition: 0.7s;
    }

    .botao_enviar {
        padding: 3px 100px;
        border: aqua;
        border-radius: 8px;
        background-color: #005AFF;
        color: white;
    }

    input[type="reset"]:hover {
        background-color: #005AFF;
        color: white;
        border: 1px solid #005AFF;
        transition: 0.7s;
    }

input{
    height: 50px;
}

.dropdown{
    height: 50px;
}

#tipo_item{
    height: 50px;
}

.button_buscar_ecoponto{
    width: 10000px;
}

.btn-primary{
    padding: 5px;
    height: 50px;
    margin-top: 3.6em;
}
</style>

<script type="text/javascript" src="~/js/site.js">

</script>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
